body {
    background-color: rgb(148, 111, 42);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gameBox {
    background: rgb(108,238,251);
    background: linear-gradient(0deg, rgba(108,238,251,1) 0%, rgba(66,192,255,1) 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Silkscreen', cursive;
    width: 60rem;
    margin: 3vw 3vw 1.7vw 3vw;
    border: 1rem solid black;
    box-shadow: 0.5rem 0.5rem rgb(50, 50, 50);
    height: 78vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.cloud {
    background-color: white;
    padding: 0.5rem;
    width: 98.3%;
  
}

.button {
    font-family: 'Silkscreen', cursive;
    font-size: 1.5rem;
    width: 7rem;
    padding: 0.5rem;
    color: white;
    background-color: rgb(249, 58, 32);
    border: 2px solid white;
    margin-bottom: 6rem;
    box-shadow: 0.1rem 0.1rem rgb(50, 50, 50);
}

.button:hover {
    cursor: pointer;
    background-color: rgb(223, 26, 0);
    box-shadow: 0.2rem 0.2rem rgb(50, 50, 50);
}


#mainButton {
    position: absolute;
    width: auto;
    margin: 0;
    left: 10px;
    top: 185px;
}

#nextButton {
    display: none;
    position: absolute;
    width: auto;
    margin: 0;
    right: 13px;
    top: 185px;
}

.messageWon {
    position: absolute;
    display: none;
    bottom: 300px;
}

.wrongOne {
    display: none;
    position: absolute;
    bottom: 300px;
}

.treeBoxOne {
    position: absolute;
    bottom: 50px; 
    z-index: 1;
    margin: 0px;
    padding: 0px;
    background: none;
    border: none;
}


img {
    width: 10rem;
    padding: 0;
    margin: 0;
}

#mushroom, #mushroomOne {
    width: 3rem;
    bottom: 78px;
    position: absolute;
}

#mushroomTwo {
    width: 3rem;
    bottom: 78px;
    right: 119px;
    position: absolute;
}

#mushroomThree {
    width: 3rem;
    bottom: 78px;
    left: 289px;
    position: absolute;
}

#blueMushroomOne {
    width: 3rem;
    bottom: 78px;
    right: 119px;
    position: absolute;
}


.grass {
    width: 100%;
    height: 5rem;
    background-image: url('grass.png');
}

.musicIconBox {
    margin: 0rem;
    width: 2rem;
}

#musicOn {
    width: 100%;
    display: block;
}

.hidden {
    display: none;
}

h1 {
    font-weight: 700;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

h2 {
    padding: 0rem;
    margin: 0rem;
    position: absolute;
    top: 250px;
}

p {
    text-align: center;
}

